*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d1d7db;
    /* height: 100%vh; */
}

#logo{
    display: flex;
    background-color:#00a884;
    height: 200px;
}
div .l{
    margin-top: 40px;
    outline: none;
    border-radius: 50%;
    padding: 0px;
    color: #00a884;
    margin-left: 220px;
}
div h3{
    margin-top: 60px;
    margin-left: 25px;
    color: rgb(253, 245, 245);
    font-weight: 150px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#touse{
    border: 1px solid rgb(245, 232, 232);
    background-color: white;
    width: 950px;
    border-radius: 5px;
    position: relative;
    bottom: 70px;
    left: 220px;
    color: gray
}

form h4{
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 25px;
    margin-left: -40px;
}
form li{
    margin-top: 15px;
    margin-left: -20px;
    font-size: 20px;
}
#lip{
    border: 10px;
    background-color: #d1d7db;
    width: 15px;
    padding: 2px;
    text-align: center;
}
#set{
    border: 10px;
    background-color: #d1d7db;
    width: 25px;
    padding: 2px;
    text-align: center;
}
.scan{
    display: flex;
    justify-items: flex-end;
    align-content: flex-start;
    padding: 70px;
}

.qr{
    margin-left: 600px;
    margin-top: -270px;
}

.vid{
    /* border: 1px solid black; */
    width: 950px;
    height: 450px;
    background-color: #e2ebf3;
    border-radius: 5px;
    margin-top: 100px;
    padding: 10px;
    align-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

p{
    margin-left: 380px;
    margin-top: 30px;
    font-size: 28px;
    color: #41525d;
    font-weight: 300;
}
a{
    margin-left: 350px;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #00a884;
    vertical-align: baseline;
}

iframe{
    margin-left: 220px;
    object-fit: contain;
    overflow: clip;
    margin-top: 15px;
}